.conteiner {
    display: flex;
    align-items: center;
}

.cabecalho__menu-hamburger {
    background-image: url("../asset/svg/Menu.svg");
    background-repeat: no-repeat;
    background-position: 0.25rem;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
}

.cabecalho {
    background-color: var(--color-text);
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: relative;
}



.conteiner__image {
    padding: 1rem;
}

.conteiner__botao {
    display: none;
}

.lista-menu{
    list-style: none;
    position: absolute;
    display: none;
    top: 100%;
    width: 60vw;;
}
.conteiner__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo, .lista-menu__item {
    background-color: var(--color-text);
    padding: 1em;
    
}

.lista-menu__titulo {
    color: var(--color-text-title);
    font-weight: 700;
}
.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__titulo, 
.opcoes, 
.conteiner__link-texto{
    display: none;
}

@media screen and (min-width: 1024px){

    .cabecalho__menu-hamburger {
        display: none;
    }

    .container__titulo, .container__titulo-negrito{
        font-family: var(--font-alternativa);
        font-size: 1.875rem;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo-negrito {
        font-weight: 700;
    }

    .conteiner__image-favorito {
        display: none;
    }

    .opcoes {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .opcoes__item {
        text-transform: uppercase;
        
    }

    .opcoes__link {
        text-decoration: none;
        color: black;
        font-weight: 400;
        font-size: 1rem
    }

    .opcoes__botao:checked~.lista-menu{
        display: block;
        width: 28%;
    }

    .opcoes__botao {
        display: none;
    }
}

@media screen and (min-width: 1728px){

    .conteiner {
        margin-right: 3%;
    }

    .cabecalho {
        padding: 0 5%;
    }
    .conteiner__link{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: black;
    }

    .opcoes {
       margin-right: auto;
    }

    .conteiner__link-texto{
        display: block;
    }

}