.topicos {
    background: var(--azul-degrade);
    padding: 1.5rem 0;
    text-align: center;
}

.topicos__title {
    color: var(--color-text);
    font-weight: 300;
    margin-bottom: 2rem;
}

.topico__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.topico__item {
    background: var(--color-text-title);
    padding: 1rem 1.5rem;
    margin: 0.5rem;
}

.item__link {
    font-size: 0.875rem;
    color: var(--color-text);
    text-decoration: none;
    font-weight: 700;
}

@media screen and (min-width: 1024px){
    .topicos__title {
        font-style: 1.5rem;
    }

    .topico__lista {
        padding: 0 20%;
    }

    .topico__item {
        margin: 1rem;
    }

    .topicos_link {
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
    }
}

@media screen and (min-width:1728px){

    .topicos {
        padding: 5% 0;
    }
    .topico__lista {
        padding: 0 25%;
    }

    .topicos__title {
        font-size: 2rem;
        font-weight: 300;
    }

    .topico__item {
       
        padding: 1.5rem 2rem;
    }

    .item__link {
        font-size: 1.5rem;
        font-weight: 700;
    }
}
